<app-navigation></app-navigation>
<app-home-header [buttonLink]="incomeLink" [buttonName]="incomeButtonName" [pageName]="pageName"></app-home-header>
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
  <div class="content flex-row-fluid" id="kt_content">
    <div class="card card-page">
      <div class="card-body">

        <div class="row">
          <div class="col-md-10">
            <form [formGroup]="addIncomeCategoryForm" (ngSubmit)="submitIncomeCategoryForm()" method="POST" *ngIf="addCategoryToggle">
              <app-error-message [messageClass]="messageClass" [hasError]="hasError" [errorMessage]="errorMessage"></app-error-message>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                      <label class="required form-label">Name</label>
                      <input type="email" formControlName="name" class="form-control" placeholder="Income Category Name"/>
                    <div class="error mt-2" *ngIf="(addIncomeCategoryForm.controls['name'].touched || addIncomeCategoryForm.controls['name'].dirty) && addIncomeCategoryForm.controls['name'].errors as formErrors">
                      <strong class="text-danger" *ngIf="formErrors['required']">Category Name is required</strong><br>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" formControlName="description" name="description"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <button class="btn btn-success shadow-lg mt-9">Submit New Category</button>
                  </div>

                </div>
              </div>
            </form>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary shadow-lg {{applyMarginTop}}" (click)="toggleForm()"><fa-icon [icon]="faPlusCircle"></fa-icon> Add Category</button>
          </div>
        </div>

        <div class="mb-5 mt-5">
          <button class="btn btn-primary shadow-lg mg-right-4" (click)="pushDataToRow()">Load Data</button>
          <button class="btn btn-danger shadow-lg mg-right-4" (click)="deleteDataFromRow()">Remove Selected Data</button>
          <button class="btn btn-info shadow-lg" (click)="onBtnExport()"><fa-icon [icon]="faCloudDownloadAlt"></fa-icon> Export Data</button>

        </div>
        <div>
          <ag-grid-angular
            class="ag-theme-quartz"
            style="height: 400px;"
            [pagination]="true"
            [rowData]="rowData"
            [rowStyle]="rowStyle"
            [getRowId]="getRowId"
            [rowHeight]="50"
            [rowSelection]="rowSelection"
            (gridReady)="onGridReady($event)"
            [columnDefs]="colDefs">
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
