<app-navigation></app-navigation>
<app-home-header [buttonLink]="categoryLink" [buttonName]="categoryButtonName" [pageName]="pageName"></app-home-header>
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
  <div class="content flex-row-fluid" id="kt_content">
    <div class="card card-page">
      <div class="card-body">
        <h2>Hello world</h2>
        <app-datatable [rowData]="rowData" [colDefs]="colDefs" [onPushDataToRow]="onPushDataToRow()" [onDeleteDataFromRow]="onDeleteDataFromRow()"></app-datatable>
      </div>
    </div>
  </div>
</div>
