<app-navigation></app-navigation>
<app-home-header [buttonLink]="categoryLink" [buttonName]="categoryButtonName" [pageName]="pageName"></app-home-header>
<div class="d-flex flex-column-fluid align-items-start container-xxl">
  <div class="content flex-row-fluid" id="kt_content">
    <div class="card card-page">
      <div class="card-body">
        <div class="mb-5" style="text-align: right;">
          <button class="btn btn-primary shadow-lg" (click)="toggleAddIncomeForm()"><fa-icon [icon]="faPlusCircle"></fa-icon> Add Income</button>
        </div>
        <div class="row mb-10" *ngIf="addCategoryToggle">
          <h2 class="text-center">Add Income</h2>
          <app-error-message [messageClass]="messageClass" [hasError]="hasError" [errorMessage]="errorMessage"></app-error-message>
          <form class="row" method="POST" [formGroup]="incomeAddForm" (submit)="addIncome()">
            <div class="col-md-4">
              <label>Name <strong class="text-danger">*</strong></label>
              <input type="text" formControlName="name" class="form-control">
              <div class="error mt-2" *ngIf="(incomeAddForm.controls['name'].touched || incomeAddForm.controls['name'].dirty) && incomeAddForm.controls['name'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">Income Name is required</strong><br>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <label>Amount <strong class="text-danger">*</strong></label>
              <input type="number" step="0.01" formControlName="amount" class="form-control">
              <div class="error mt-2" *ngIf="(incomeAddForm.controls['amount'].touched || incomeAddForm.controls['amount'].dirty) && incomeAddForm.controls['amount'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">Amount is required</strong><br>
                <strong class="text-danger" *ngIf="formErrors['min']">Amount too small</strong>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <label>Income Category <strong class="text-danger">*</strong></label>
              <select class="form-control" name="income_category" formControlName="incomeCategory">
                <option value="">Select Income Category</option>
                <option *ngFor="let category of incomeCategories" [value]="category.id">{{category.name}}</option>
              </select>
              <div class="error mt-2" *ngIf="(incomeAddForm.controls['incomeCategory'].touched || incomeAddForm.controls['incomeCategory'].dirty) && incomeAddForm.controls['incomeCategory'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">Income Category is required</strong><br>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <label>Start Date <strong class="text-danger">*</strong></label>
              <input type="date"  class="form-control" formControlName="startDate">
              <div class="error mt-2" *ngIf="(incomeAddForm.controls['startDate'].touched || incomeAddForm.controls['startDate'].dirty) && incomeAddForm.controls['startDate'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">Start Date is required</strong><br>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <label>End Date <strong class="text-danger">*</strong></label>
              <input type="date" class="form-control" formControlName="endDate">
              <div class="error mt-2" *ngIf="(incomeAddForm.controls['endDate'].touched || incomeAddForm.controls['endDate'].dirty) && incomeAddForm.controls['endDate'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">End Date is required</strong><br>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <label>Is Recurring Income? <strong class="text-danger">*</strong></label>
              <select class="form-control" formControlName="recurring">
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select>
              <div class="error mt-2" *ngIf="(incomeAddForm.controls['recurring'].touched || incomeAddForm.controls['recurring'].dirty) && incomeAddForm.controls['recurring'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">Recurring income field is required</strong><br>
              </div>
            </div>
            <div class="col-md-12 mt-5 text-center mb-5">
              <button class="btn btn-success shadow-lg"><fa-icon [icon]="faPlusCircle"></fa-icon> Submit Income </button>
            </div>
          </form>
        </div>
        <div class="row mb-10" *ngIf="addUpdateToggle">
          <h2 class="text-center">Update Income</h2>
          <app-error-message [messageClass]="messageClass" [hasError]="hasError" [errorMessage]="errorMessage"></app-error-message>
          <form class="row" method="POST" [formGroup]="updateIncomeForm" (submit)="updateIncome()">
            <div class="col-md-4">
              <label>Name <strong class="text-danger">*</strong></label>
              <input type="text" formControlName="name" class="form-control">
              <div class="error mt-2" *ngIf="(updateIncomeForm.controls['name'].touched || updateIncomeForm.controls['name'].dirty) && updateIncomeForm.controls['name'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">Income Name is required</strong><br>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <label>Amount <strong class="text-danger">*</strong></label>
              <input type="number" step="0.01" formControlName="amount" class="form-control">
              <div class="error mt-2" *ngIf="(updateIncomeForm.controls['amount'].touched || updateIncomeForm.controls['amount'].dirty) && updateIncomeForm.controls['amount'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">Amount is required</strong><br>
                <strong class="text-danger" *ngIf="formErrors['min']">Amount too small</strong>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <label>Income Category <strong class="text-danger">*</strong></label>
              <select class="form-control" name="income_category" formControlName="incomeCategory">
                <option value="">Select Income Category</option>
                <option *ngFor="let category of incomeCategories" [value]="category.id">{{category.name}}</option>
              </select>
              <div class="error mt-2" *ngIf="(updateIncomeForm.controls['incomeCategory'].touched || updateIncomeForm.controls['incomeCategory'].dirty) && updateIncomeForm.controls['incomeCategory'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">Income Category is required</strong><br>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <label>Start Date <strong class="text-danger">*</strong></label>
              <input type="date"  class="form-control" formControlName="startDate">
              <div class="error mt-2" *ngIf="(updateIncomeForm.controls['startDate'].touched || updateIncomeForm.controls['startDate'].dirty) && updateIncomeForm.controls['startDate'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">Start Date is required</strong><br>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <label>End Date <strong class="text-danger">*</strong></label>
              <input type="date" class="form-control" formControlName="endDate">
              <div class="error mt-2" *ngIf="(updateIncomeForm.controls['endDate'].touched || updateIncomeForm.controls['endDate'].dirty) && updateIncomeForm.controls['endDate'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">End Date is required</strong><br>
              </div>
            </div>
            <div class="col-md-4 mb-5">
              <label>Is Recurring Income? <strong class="text-danger">*</strong></label>
              <select class="form-control" formControlName="recurring">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
              <div class="error mt-2" *ngIf="(updateIncomeForm.controls['recurring'].touched || updateIncomeForm.controls['recurring'].dirty) && updateIncomeForm.controls['recurring'].errors as formErrors">
                <strong class="text-danger" *ngIf="formErrors['required']">Income Name is required</strong><br>
              </div>
            </div>
            <div class="col-md-12 mt-5 text-center mb-5">
              <button [disabled]="!updateIncomeForm.valid" class="btn btn-success shadow-lg"><fa-icon [icon]="faPlusCircle"></fa-icon> Update Income </button>
            </div>
          </form>
        </div>

        <div class="row mb-4">
          <div class="col-md-5">
            <button class="btn btn-info" [matMenuTriggerFor]="menu"><fa-icon [icon]="faCloudDownloadAlt"></fa-icon> Export</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Karikari'}})">Excel</button>
              <button mat-menu-item (click)="exporter.exportTable('csv')">Csv</button>
              <button mat-menu-item (click)="exporter.exportTable('json')">Json</button>
              <button mat-menu-item (click)="exporter.exportTable('txt')">Txt</button>
            </mat-menu>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5" style="text-align: right;">
            <button class="btn btn-primary" style="margin-right: 10px;">Show Selected</button>
            <button class="btn btn-danger"> Delete Selected Entries</button>
          </div>
        </div>



        <div class="mat-elevation-z1">
          <table mat-table matTableExporter #exporter="matTableExporter" class="full-width-table dataTable" matSort aria-label="Income">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="showAllSelected(row, $event)"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
              <td mat-cell *matCellDef="let row">{{row.amount}}</td>
            </ng-container>

            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
              <td mat-cell *matCellDef="let row">{{row.startDate}}</td>
            </ng-container>

            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
              <td mat-cell *matCellDef="let row">{{row.endDate}}</td>
            </ng-container>

            <ng-container matColumnDef="recurring">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Recurring</th>

              <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="row.recurring">
                  <mat-checkbox disabled checked></mat-checkbox>
                </ng-container>
                <ng-container *ngIf="!row.recurring">
                  <mat-checkbox disabled></mat-checkbox>
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="incomeCategory">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Income Category</th>
              <td mat-cell *matCellDef="let row">{{row.incomeCategory}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <mat-cell *matCellDef="let row">
                <button (click)="generateEditData(row)" class="btn btn-warning btn-sm" style="margin-right: 10px;"><fa-icon [icon]="faEdit" size="1x"></fa-icon></button>
                <button class="btn btn-danger btn-sm"><fa-icon [icon]="faTrash"></fa-icon></button>
              </mat-cell>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
            <tr mat-row (click)="clickedRows.add(row); selection.toggle(row)"
                [class.demo-row-is-clicked]="clickedRows.has(row)"  *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter</td>
            </tr>
          </table>

          <mat-paginator #paginator
                         [length]="dataSource.data.length"
                         [pageIndex]="0"
                         [pageSize]="10"
                         [pageSizeOptions]="[5, 10, 20, 50]"
                         aria-label="Select page">
          </mat-paginator>

          <div>
            <h3>
              Click Log
            </h3>
          </div>

          @if (!clickedRows.size) {
            <div>Clicked rows will be logged here</div>
          }

          <ul>
            @for (clickedRow of clickedRows; track clickedRow) {
              <li>Clicked on {{clickedRow.name}}</li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
