<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container" style="padding-left: 5%; padding-right: 5%;">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="assets/images/login.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="assets/images/logo.svg" alt="logo" class="logo">
            </div>
            <p class="login-card-description">Reset Your Password</p>
            <form method="POST" [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm()">
              <app-error-message [messageClass]="messageClass" [hasError]="hasError" [errorMessage]="errorMessage"></app-error-message>
              <div class="form-group mb-4">
                <label class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" formControlName="password" placeholder="***********">
                <div class="error" *ngIf="(resetPasswordForm.controls['password'].touched || resetPasswordForm.controls['password'].dirty) && resetPasswordForm.controls['password'].errors as formErrors">
                  <strong class="text-danger" *ngIf="formErrors['required']">Password is required</strong><br>
                  <strong class="text-danger" *ngIf="formErrors['minLength']">Password too short</strong><br>
                  <strong class="text-danger" *ngIf="resetPasswordForm.hasError('passwordMismatch')">Passwords Do not match</strong>
                </div>

              </div>
              <div class="form-group mb-4">
                <label class="sr-only">Confirm Password</label>
                <input type="password" name="password" formControlName="password_confirmation" class="form-control" placeholder="***********">
                <div class="error" *ngIf="(resetPasswordForm.controls['password_confirmation'].touched || resetPasswordForm.controls['password_confirmation'].dirty) && resetPasswordForm.controls['password'].errors as formErrors">
                  <strong class="text-danger" *ngIf="formErrors['required']">Password Confirmation field is required</strong><br>
                  <strong class="text-danger" *ngIf="resetPasswordForm.hasError('passwordMismatch')">Passwords Do not match</strong>
                </div>
              </div>
              <a routerLink="/auth/password/forgot" class="forgot-password-link">Forgot password?</a><br>
              <p><button name="login" [disabled]="!resetPasswordForm.valid" class="btn btn-block login-btn mb-4" type="submit">Confirm Email</button></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
