@import "assets/css/style.bundle.css";
/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';


.error{
  margin-top: -20px;
  color: red;
}

.menu_item_is_active{
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 10px;
}

textarea{
  resize: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
