<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container" style="padding-left: 5%; padding-right: 5%;">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="assets/images/login.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="assets/images/logo.svg" alt="logo" class="logo">
            </div>
            <p class="login-card-description">Reset Your Password</p>
            <form class="row" method="POST" [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
              <app-error-message [messageClass]="messageClass" [hasError]="hasError" [errorMessage]="errorMessage"></app-error-message>
              <div class="form-group">
                <label class="sr-only">Email</label>
                <input type="email" name="email" formControlName="email" class="form-control" placeholder="Email address">
                <div class="error" *ngIf="(forgotPasswordForm.controls['email'].touched || forgotPasswordForm.controls['email'].dirty) && forgotPasswordForm.controls['email'].errors as formErrors">
                  <strong class="text-danger" *ngIf="formErrors['required']">Email Address is required</strong>
                  <strong class="text-danger" *ngIf="formErrors['email']">Invalid Email Address</strong>
                </div>
              </div>
              <button name="login" [disabled]="!forgotPasswordForm.valid" class="btn btn-block login-btn mb-4" type="submit">Confirm Email</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
