<div class="d-flex flex-column flex-root">
  <!--begin::Authentication - Sign-in -->
  <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
       style="background-image: url('assets/media/illustrations/dozzy-1/14.png')">
    <!--begin::Content-->
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20" style="margin-top: 5%;margin-bottom: 17.5%;">
      <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
        <!--begin::Form-->
        <form class="form w-100" method="POST" [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm()">
          <!--begin::Heading-->
          <div class="text-center mb-10">
            <!--begin::Title-->
            <h1 class="text-dark mb-3">Forgot Password</h1>
            <!--end::Title-->
            <!--begin::Link-->
            <div class="text-gray-400 fw-bold fs-4">Enter your account email to continue</div>
            <!--end::Link-->
          </div>
          <app-error-message [messageClass]="messageClass" [hasError]="hasError" [errorMessage]="errorMessage"></app-error-message>
          <!--begin::Heading-->
          <!--begin::Input group-->
          <div class="fv-row mb-1">

            <label class="form-label fs-6 fw-bolder text-dark">Email</label>
            <input class="form-control form-control-lg form-control-solid" type="email" formControlName="email" name="email" autocomplete="on"><br>
            <div class="error" *ngIf="(forgotPasswordForm.controls['email'].touched || forgotPasswordForm.controls['email'].dirty) && forgotPasswordForm.controls['email'].errors as formErrors">
              <strong class="text-danger" *ngIf="formErrors['required']">Email Address is required</strong><br>
              <strong class="text-danger" *ngIf="formErrors['email']">Invalid Email Address</strong>
            </div>
          </div>
          <div class="text-center mt-4">
            <!--begin::Submit button-->
            <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-lg btn-primary w-100 mb-5">
              Reset Password
            </button>
            <p>Remembered your password? <a routerLink="/auth/signin">Login Here</a></p>
          </div>
        </form>
        <!--end::Form-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    <!--end::Footer-->
  </div>
  <!--end::Authentication - Sign-in-->
</div>


